
.navbar-inverse {
    background-color: #c8221f;
    border-color: #080808;
}
.navbar-inverse .navbar-nav > li > a {
    color:white;

}
.navbar-inverse .navbar-brand{
    color:white;
}
/*Course layout*/
.course {
    list-style: none;
}

    .course > li {
        position: relative;
        margin-bottom: 30px;
    }

        .course > li .date {
            text-align: center;
            background-color: #d41d50;
            color: white;
            width: 60px;
            border-radius: 8px;
        }
            .course >li .details
{
    position: absolute;
    top : 0;
    left: 70px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #080808;
    background-color: #23a358;
    top: 0;
}
.details {
    position: absolute;
    left: 70px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}



